.cancel-ticket{
    max-width: 80%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid brown;
    border-radius: 15px;
    box-shadow: 0px 0px 50px black;
    word-wrap: break-word;
  }
  .bc{
    width: 100%;
  }
 .bc:hover{
  background: tomato;
 }
#pn{
  border-radius: 20px;
}
 
