/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eaeaea;
    font-family: Arial, sans-serif;
} */
.error {
    color: red;
    font-size: 0.9em;
}
.registration{
    background-size: cover;
    background-position: center;
    background: url('./unnamed.png')  no-repeat;
    height: 562px;
    width: 100%;
    display: block;
    align-items: center;
    margin-left: 30px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.registration-box {
    backdrop-filter: blur(2.5px);
    /* background: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(104, 104, 104);
    max-width: 400px;
    width: 100%;
    border: 1px solid black;
    backdrop-filter: blur(2px);
}

.registration-box h2 {
    
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    /* font-family: Papyrus, fantasy; */font-family: Segoe Print  ;
    
}

.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.bb1 {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.bb1:hover {
    background: #02ed35;
    text-decoration: none;
    color: white;
}
